.board {
    display: grid;
}

.card {
    background-color: #333;
    border: 1px blue solid;
    height: 60px;
    width: 60px;
    margin: 10px;
    line-height: 50px;
}

.card.hidden {
    display: hidden;
    border: none;
    background-color: transparent;
}